.cell {
	background: #FFF;
	border-radius: 2px;
	margin-bottom: 15px;
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10);
}

.cell_title {
	position: relative;
	-webkit-user-select: none;
	padding-left: 20px;
	display: flex;
}

.cell_title.active {
	color: #999;
}

.cell_title:active {
	background: #F8F8F8;
}

.cell_title span {
	font-size: 16px;
	line-height: 56px;
	display: inline-block;
	padding-left: 10px;
}

.cell_title_icon {
	font-size: 28px;
	line-height: 56px;
	color: #999;
}

.cell_con {
	height: 0;
	overflow: hidden;
	transition: all .2s ease-in-out;
}

.cell_con.active {
	height: auto;
}

.cell_con li {
	list-style: none;
	font-size: 16px;
	color: #333;
	line-height: 56px;
	position: relative;
	-webkit-user-select: none;
	user-select: none;
	padding-left: 20px;
}

.cell_con li a {
	color: #333;
	text-decoration: none;
	display: block;
	border-top: 1px solid #e5e5e5;
}

.arrow-right {
	position: relative;
}

.arrow-right:before {
	content: '';
	width: 10px;
	height: 2px;
	display: block;
	position: absolute;
	background: #666;
	right: 20px;
	top: 50%;
	transform: rotate(-45deg);
	margin-top: 3px;
}

.arrow-right:after {
	content: '';
	width: 10px;
	height: 2px;
	display: block;
	position: absolute;
	background: #666;
	right: 20px;
	top: 50%;
	transform: rotate(45deg);
	margin-top: -3px;
}